<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include ('../layout') %>
    <div class="container">
        <h2 align="center">Class : <%= class_id %> </h2>
   
    <br>
    <h5>Add Lesson</h5>
    <hr>
    <form class="form-group" action="/instructors/classes/<%= class_id %>/lesson/new" method="post">
        <div class="form-group">
          <label>บทที่</label>
          <input type="text" name="lesson_id" value="" class="form-control">
        </div>
        <div class="form-group">
          <label>หัวข้อ</label>
          <input type="text" name="lesson_title" value="" class="form-control">
        </div>
        <div class="form-group">
          <label>รายละเอียด</label>
          <textarea name="lesson_body" id="" cols="80" rows="8" class="form-control"></textarea>
        </div>
        <input type="submit" name="" value="เพิ่มบทเรียน" class="btn btn-primary">
    </form>
    </div>
</body>
</html>
